.gtx-content {
    color: #252525;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 14px;
    margin: 0;
}

.gtx-footer{
	background-color: #f0f0f0;
    color: #636363;
    font-family: 'Roboto',sans-serif;
    font-size: 11px;
    margin-top: 9px;
    padding: 10px;
    text-align: center;
    width: 400px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gtx-edit{
	 font-size: 19px;
    margin: 10px 10px 10px 10px;
    width: 390px;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

#result{
	font-size: 14px;
    margin: 10px 10px 10px 10px;
    width: 390px;
}

#translate-page{
    background-color: #4d90fe;
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    margin-top: 9px;
    padding: 10px;
    text-align: center;
    width: 340px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#translate-page:hover{    
    background-color: #81aef9;
}
#translate-page:active{    
    background-color: #4d90fe;
}

#btn-container{
    display: flex;
}

#copy-text{
    width: 36px;
    height: 36px;
    background: url(copy.png);
    margin: 10px;
}

.hover-text{
    visibility: hidden;
    margin: -22px 0 0 -23px;
    background-color: #ffffff;
    padding: 2px;
    color: #4d90fe;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
  transition: .2s ease-in-out;
  cursor: pointer;
}
.button:hover{
  transform: scale(1.1);
}
.button:active{
  transform: scale(.9);
}

#auth-box{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#o-title{
    font-size: 24px;
    padding: 10px;
}
#author-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}
#author-img{
    width: 143px;
    height: 191px;
    background: url(author.jpg);  
}
#author-text-container{}
.author-text{
    font-size: 19px;
    padding: 10px;
}